*{
    padding: 0;
    margin: 0;
}
.wrap{
    width: 1000px;
    margin: 0 auto;
}
header{

    width: 1000px;
    margin-bottom: 20px;
    /*height: 50px;*/
    overflow: hidden;
    /*background-color: #ffcc00;*/
    border-bottom: 2px solid #000000;
}
.logo{
    height: 50px;
    width: 150px;
    background-color: darksalmon;
    float: left;
}
.time{
    float: right;
    /*position: ;*/
    /*bottom: 0;*/
    margin-top: 25px;
}
.banner_left{
    float: left;
    /*width: 600px;*/
}
.banner_left img{
    margin-left: 20px;
    width: 600px;
}
.banner{
    height: 100%;
}
.banner_right{
    float: right;
    width: 300px;
    height: 340px;
    margin: 0 20px;
    border-top: 3px solid #ffcc00;
    /*background-color: darkorchid;*/
}
.new_list{
    width: 700px;
    /*height: 200px;*/
    /*background-color: green;*/
    margin: 20px 0 20px 20px;
    overflow: hidden;
}
.clear{
    height:0;
    font-size:0;
    clear:both;
}
.newbox{
    height: 100px;
    width: 25%;
    margin: 0 10px;
    /*background-color: cornflowerblue;*/
    float: left;
}
.new_bottom{
    /*width: ;*/
    margin: 0 20px;
    height: 500px;
    background-color: darkslateblue;
}
.bottom_left{
    background-color: dodgerblue;
    height: 100%;
    width: 400px;
    float: left;
}
.bottom_right{
    overflow: hidden;
    background-color: crimson;
    width: 500px;
    height: 100%;
    float: right;
}
.bottom_left_top{
    width: 100%;
    height: 150px;
    border-bottom: 2px solid #000000;
    background-color: aqua;
}
footer{
    width: 100%;
    background-color: coral;
    color: #eeeeee;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom_right img{
    width: 100%;
}
.img_list{
    margin-top: 20px;
    background-color: #ffcc00;
    height: 200px;
}
.show_top p{
    text-decoration:underline;
    font-size: 40px;
}
.show_top span{
    color: #999999;
}
.show_num p{
    font-size: 80px;
    color: darkgreen;
    font-weight: bold;
    font-style: italic;
    /*float: left;*/
}
.show_bottom_left{
    font-size: 60px;
    color: burlywood;
}
.newbox{
    overflow: hidden;
    word-wrap: break-word;
}
.newbox_top p{
    text-decoration: underline;
    font-size: 20px;
}

